@use '/src/variables.scss' as v;

h2 {
    margin-bottom: 1rem;
}

.contenido-principal {
    display: grid;
    padding: 5rem 0 0 0;
}

.form-banner {
    display: flex;
    background-color: v.$secundario;
    min-height: 25rem;
    align-items: center;
    margin: 0 0 2rem 0;
}

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario legend {
    background-color: #675145;
    color: v.$blanco;
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

.formulario fieldset {
    border: 1px solid v.$negro;
    margin: 0 0 2rem 0;
    padding: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.campo input:not( [type="radio"] ),
.campo textarea,
.campo select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.campo-interno {
    display: flex;
    flex-grow: 1;
    height: 6rem;
}

.campo-radio {
    margin: 0 2rem 0 0;
}

.campo-radio-input {
    margin: 0 1rem 0 0;
}

.text-danger {
    color: v.$danger;
}

.btn-form {
    margin: 2rem 0;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$primario;
    color: v.$blanco;
    // display: block;
    // font-weight: 800;
    font-size: 5rem;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 6rem;
    height: 6rem;
}

.btn-add:hover {
    background-color: #1c6bc9;
    cursor: pointer;
}

.campo-array {
    display: flex;
    flex-direction: column;
    border: 1px solid v.$secundario;
    padding: 1rem;
}

.prod-btn {
    color: v.$negro;
}

.prod-btn:hover {
    color: v.$hover_link;
    cursor: pointer;
}


.btn-del {
    color: v.$negro;
    margin: 0 0 0 2rem;
}

.btn-del:hover {
    color: v.$danger;
    cursor: pointer;
}

.prod-row {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 1rem 0;
}

.close-row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0;
}

.close-row:hover {
  cursor: pointer;
}

.title-row {
    font-weight: 700;
}

@media ( min-width: v.$tablet ) {

    .formulario {
        max-width: 120rem;
    }

    .campo {
        flex-direction: row;
    }

    .campo label {
        width: 13rem;
        padding: 0 1rem 0 0;
    }

    .notify-text {
        margin: 0 0 0 13rem;
    }

}