<div class="campo-array">

    <div class="close-row" (click)="toggleData()">
        <div class="title-row">
            <div>
                {{ solicitud.nombreSolicitud }}
            </div>
        </div>

        <div>
            <a class="prod-btn">
                {{ cardExpanded ? 'Contraer' : 'Expandir' }}
            </a>
            <button (click)="generatePdf()" class="export-btn">PDF</button>
        </div>
    </div>

    <div *ngIf="cardExpanded">

        <div *ngFor="let producto of solicitud.productos">
            <div>
                Producto / Marca: {{ producto.producto }}
            </div>
            <div>
                Cantidad: {{ producto.cantidad }}
            </div>
            <div>
                Formato de Botella: {{ producto.formatoBotella }}
            </div>
            <div>
                Tipo de Vino: {{ producto.tipoVino }}
            </div>
            <div>
                Año Cosecha: {{ producto.anioCosecha }}
            </div>
            <div>
                Cepa: {{ producto.cepa }}
            </div>
            <div>
                Tipo de Cierre: {{ producto.tipoCierre }}
            </div>
            <div>
                Etiqueta / Contra etiqueta: {{ producto.etiqueta }}
            </div>
            <br>
        </div>

        <div>
            <!-- Datos de Envío -->
            <div>
                Solicitante: {{solicitud.solicitante}}
            </div>
            <div>
                Fecha de envío: {{solicitud.fechaEnvio}}
            </div>
            <div>
                Centro de costo (C.C): {{solicitud.centroCosto}}
            </div>
            <div>
                Cuenta Contable (CTA): {{solicitud.cuentaContable}}
            </div>
            <div>
                Conceptos: {{solicitud.conceptos}}
            </div>
            <div *ngIf="tipo == 'SC'">
                Tipo de Embalaje: {{solicitud.tipoEmbalaje}}
            </div>
        </div>

        <div>
            <!-- Datos del Cliente -->
            <div>
                Nombre / Razón Social: {{solicitud.clienteNombre}}
            </div>
            <div>
                Fono: {{solicitud.clienteFono}}
            </div>
            <div>
                Email: {{solicitud.clienteEmail}}
            </div>
            <div *ngIf="tipo == 'SC'">
                País: {{solicitud.clientePais}}
            </div>
            <div>
                Dirección: {{solicitud.clienteDireccion}}
            </div>
        </div>

        <div>
            <!-- Datos del Despacho -->
            <div>
                Transporte / Despacho: {{solicitud.despachoTransporte}}
            </div>
            <div>
                Despachador: {{solicitud.despachoRetira}}
            </div>
            <div>
                AWB#: {{solicitud.despachoAwb}}
            </div>
            <div>
                Costo de Envío: {{solicitud.despachoCosto}}
            </div>
        </div>

    </div>

</div>