<app-nav-bar />

<div class="form-banner">
    <div class="container">
        <h2>Solicitud Genérica</h2>
        <p>
            Esta Solicitud Entregara un vino que se encuentre en Stock.
            En observaciones puede incluir información para seleccionar alguna alternativa disponible.
        </p>
    </div>
</div>

<form class="formulario container" [formGroup]="genericForm" (ngSubmit)="onSave()" autocomplete="off">

    <fieldset>
        <legend>Datos</legend>

        <div class="campo">
            <label for="solicitante">Solicitante: </label>
            <div class="campo-interno">
                <input id="solicitante" type="text" formControlName="solicitante" placeholder="Solicitante">
                <span *ngIf="isValidField('solicitante')" class="text-danger">
                    {{ getFieldError('solicitante') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="producto">Producto / Vino: </label>
            <div class="campo-interno">
                <input id="producto" type="text" formControlName="producto" placeholder="Producto / Vino">
                <span *ngIf="isValidField('producto')" class="text-danger">
                    {{ getFieldError('producto') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="fechaEntrega">Fecha de Entrega: </label>
            <div class="campo-interno">
                <input id="fechaEntrega" type="date" formControlName="fechaEntrega" placeholder="Fecha de Entrega">
                <span *ngIf="isValidField('fechaEntrega')" class="text-danger">
                    {{ getFieldError('fechaEntrega') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="observaciones">Observaciones: </label>
            <div class="campo-interno">
                <textarea id="observaciones" type="text" formControlName="observaciones" placeholder="Observaciones" cols="20" rows="10"></textarea>
                <span *ngIf="isValidField('observaciones')" class="text-danger">
                    {{ getFieldError('observaciones') }}
                </span>
            </div>
        </div>

    </fieldset>

    <input class="btn btn-form" type="submit" value="Enviar">

</form>