<app-nav-bar />

<div class="container m-t-60">

    <div class="p-t-25">
        <h2>Solicitud Genérica</h2>
        <h6>
            Esta Solicitud Entregara un vino que se encuentre en Stock.
            En observaciones puede incluir información para seleccionar alguna alternativa disponible.
        </h6>
        <hr>
    </div>

    <div class="row">
        <div class="col">

            <form [formGroup]="genericForm" (ngSubmit)="onSave()" autocomplete="off">

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Solicitante:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="solicitante" placeholder="Solicitante">
                        <span *ngIf="isValidField('solicitante')" class="form-text text-danger">
                            {{ getFieldError('solicitante') }}
                        </span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Producto / Vino:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="producto" placeholder="Producto / Vino">
                        <span *ngIf="isValidField('producto')" class="form-text text-danger">
                            {{ getFieldError('producto') }}
                        </span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Cuba o Mezcla:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="cubaMezcla" placeholder="Cuba o Mezcla">
                        <span *ngIf="isValidField('cubaMezcla')" class="form-text text-danger">
                            {{ getFieldError('cubaMezcla') }}
                        </span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Fecha de Entrega:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="fechaEntrega" placeholder="Fecha de Entrega">
                        <span *ngIf="isValidField('fechaEntrega')" class="form-text text-danger">
                            {{ getFieldError('fechaEntrega') }}
                        </span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Observaciones:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="observaciones" placeholder="Observaciones">
                        <span *ngIf="isValidField('observaciones')" class="form-text text-danger">
                            {{ getFieldError('observaciones') }}
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary float-end">
                            Guardar
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>