<nav class="nav-main container">
    <a [routerLink]="['/dashboard']">
        <img src="./assets/images/logo-crown.jpg" alt="Baron Philippe de Rothschild" width="64px" height="82px">
    </a>
    <a class="nav-title" [routerLink]="['/dashboard']">
        <img src="./assets/images/logo-name.jpg" alt="Baron Philippe de Rothschild" width="641px" height="25px">
    </a>
    <div class="nav-items">
        <a class="btn-secondary" [routerLink]="['/form/internal']" routerLinkActive="btn-secondary-active">Solicitud Interna</a>
        <a class="btn-secondary" [routerLink]="['/form/comercial']" routerLinkActive="btn-secondary-active">Solicitud Comercial</a>
        <a class="btn-secondary" [routerLink]="['/form/generic']" routerLinkActive="btn-secondary-active">Solicitud Genérica</a>
        <a class="btn-secondary" (click)="onLogout()">Cerrar Sesión</a>
    </div>
</nav>