<div class="form-banner">
    <div class="container">
        <h2>Solicitud Comercial</h2>
        <p>
            Esta Solicitud Entregara un vino que se encuentre en Stock.
            En observaciones puede incluir información para seleccionar alguna alternativa disponible.
        </p>
    </div>
</div>

<form class="formulario container" [formGroup]="comercialForm" (ngSubmit)="onSave()" autocomplete="off">

    <fieldset>

        <legend>Datos del Producto</legend>

        <div formArrayName="productos">

            <div class="campo-array" *ngFor="let producto of productos.controls; let i = index">

                <div class="campo">
                    <label for="nombre">Producto / Marca: </label>
                    <div class="campo-interno">
                        <input id="producto" type="text" [formControl]="newProducto" [formControlName]="i" placeholder="Nombre del producto">
                        <button class="btn-add" (click)="onAddProducto()" *ngIf="i == 0; else tagElimina">+</button>
                        <ng-template #tagElimina>
                            <button class="btn-add" (click)="onDeleteProducto(i)" *ngIf="i > 0">-</button>
                        </ng-template>
                    </div>
                </div>
                <span class="text-danger notify-text" *ngIf="isValidFieldInArray(productos, i)">
                    <!-- {{ getFieldError('producto') }} -->
                    Este campo es requerido
                </span>

            </div>

        </div>

        <div class="campo">
            <label for="nombre">Cantidad: </label>
            <div class="campo-interno">
                <input id="cantidad" type="number" formControlName="cantidad" placeholder="Cantidad">
                <span *ngIf="isValidField('cantidad')" class="text-danger">
                    {{ getFieldError('cantidad') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Formato de Botella: </label>
            <div class="campo-interno">
                <input id="formatoBotella" type="text" formControlName="formatoBotella" placeholder="Formato de Botella">
                <span *ngIf="isValidField('formatoBotella')" class="text-danger">
                    {{ getFieldError('formatoBotella') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Tipo de Vino: </label>
            <div class="campo-interno">
                <input id="tipoVino" type="text" formControlName="tipoVino" placeholder="Tipo de Vino">
                <span *ngIf="isValidField('tipoVino')" class="text-danger">
                    {{ getFieldError('tipoVino') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Año Cosecha: </label>
            <div class="campo-interno">
                <input id="anioCosecha" type="text" formControlName="anioCosecha" placeholder="Año Cosecha">
                <span *ngIf="isValidField('anioCosecha')" class="text-danger">
                    {{ getFieldError('anioCosecha') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Cepa: </label>
            <div class="campo-interno">
                <input id="cepa" type="text" formControlName="cepa" placeholder="Cepa">
                <span *ngIf="isValidField('cepa')" class="text-danger">
                    {{ getFieldError('cepa') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="tipoCierre">Tipo de Cierre: </label>
            <div class="campo-radio">
                <input class="campo-radio-input" id="corcho" type="radio" name="tipoCierre" formControlName="tipoCierre" value="corcho" checked="checked">
                <label for="corcho">Corcho </label>
            </div>
            <div class="campo-radio">
                <input class="campo-radio-input" id="rosca" type="radio" name="tipoCierre" formControlName="tipoCierre" value="rosca">
                <label for="rosca">Rosca </label>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Etiqueta / Contra etiqueta: </label>
            <div class="campo-interno">
                <input id="etiqueta" type="text" formControlName="etiqueta" placeholder="Etiqueta / Contra etiqueta">
                <span *ngIf="isValidField('etiqueta')" class="text-danger">
                    {{ getFieldError('etiqueta') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Fecha de envío: </label>
            <div class="campo-interno">
                <input id="fechaEnvio" type="text" formControlName="fechaEnvio" placeholder="Fecha de envío">
                <span *ngIf="isValidField('fechaEnvio')" class="text-danger">
                    {{ getFieldError('fechaEnvio') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Centro de costo (C.C): </label>
            <div class="campo-interno">
                <input id="centroCosto" type="text" formControlName="centroCosto" placeholder="Centro de costo (C.C)">
                <span *ngIf="isValidField('centroCosto')" class="text-danger">
                    {{ getFieldError('centroCosto') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Cuenta Contable (CTA): </label>
            <div class="campo-interno">
                <input id="cuentaContable" type="text" formControlName="cuentaContable" placeholder="Cuenta Contable (CTA)">
                <span *ngIf="isValidField('cuentaContable')" class="text-danger">
                    {{ getFieldError('cuentaContable') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Conceptos: </label>
            <div class="campo-interno">
                <input id="conceptos" type="text" formControlName="conceptos" placeholder="Conceptos">
                <span *ngIf="isValidField('conceptos')" class="text-danger">
                    {{ getFieldError('conceptos') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="nombre">Tipo de Embalaje: </label>
            <div class="campo-interno">
                <input id="tipoEmbalaje" type="text" formControlName="tipoEmbalaje" placeholder="Tipo de Embalaje">
                <span *ngIf="isValidField('tipoEmbalaje')" class="text-danger">
                    {{ getFieldError('tipoEmbalaje') }}
                </span>
            </div>
        </div>
    
    </fieldset>

    <fieldset>

        <legend>Datos del Cliente</legend>

        <div class="campo">
            <label for="nombre">Nombre / Razón Social: </label>
            <div class="campo-interno">
                <input id="clienteNombre" type="text" formControlName="clienteNombre" placeholder="Nombre o Razón Social">
                <span *ngIf="isValidField('clienteNombre')" class="text-danger">
                    {{ getFieldError('clienteNombre') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="fono">Fono: </label>
            <div class="campo-interno">
                <input id="clienteFono" type="tel" formControlName="clienteFono" placeholder="Fono del Cliente">
                <span *ngIf="isValidField('clienteFono')" class="text-danger">
                    {{ getFieldError('clienteFono') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="email">Email: </label>
            <div class="campo-interno">
                <input id="clienteEmail" type="email" formControlName="clienteEmail" placeholder="Email del Cliente">
                <span *ngIf="isValidField('clienteEmail')" class="text-danger">
                    {{ getFieldError('clienteEmail') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="pais">País: </label>
            <div class="campo-interno">
                <input id="clientePais" type="text" formControlName="clientePais" placeholder="País del Cliente">
                <span *ngIf="isValidField('clientePais')" class="text-danger">
                    {{ getFieldError('clientePais') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="direccion">Dirección: </label>
            <div class="campo-interno">
                <input id="clienteDireccion" type="text" formControlName="clienteDireccion" placeholder="Dirección del Cliente">
                <span *ngIf="isValidField('clienteDireccion')" class="text-danger">
                    {{ getFieldError('clienteDireccion') }}
                </span>
            </div>
        </div>

    </fieldset>

    <fieldset>

        <legend>Datos del Despacho</legend>

        <div class="campo">
            <label for="direccion">Transporte / Despacho: </label>
            <div class="campo-interno">
                <input id="despachoTransporte" type="text" formControlName="despachoTransporte" placeholder="Medio de Transporte / Despacho">
                <span *ngIf="isValidField('despachoTransporte')" class="text-danger">
                    {{ getFieldError('despachoTransporte') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="direccion">Despachador: </label>
            <div class="campo-interno">
                <input id="despachoRetira" type="text" formControlName="despachoRetira" placeholder="Nombre de la Persona que Retira">
                <span *ngIf="isValidField('despachoRetira')" class="text-danger">
                    {{ getFieldError('despachoRetira') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="direccion">AWB#: </label>
            <div class="campo-interno">
                <input id="despachoAwb" type="text" formControlName="despachoAwb" placeholder="AWB#">
                <span *ngIf="isValidField('despachoAwb')" class="text-danger">
                    {{ getFieldError('despachoAwb') }}
                </span>
            </div>
        </div>

        <div class="campo">
            <label for="direccion">Costo de Envío: </label>
            <div class="campo-interno">
                <input id="despachoCosto" type="number" formControlName="despachoCosto" placeholder="Costo de Envío">
                <span *ngIf="isValidField('despachoCosto')" class="text-danger">
                    {{ getFieldError('despachoCosto') }}
                </span>
            </div>
        </div>

    </fieldset>

    <input class="btn btn-form" type="submit" value="Enviar">

</form>