@use '/src/variables.scss' as v;

.dashboard-banner{
    background-color: v.$secundario;
}

.dashboard-row {
    margin: auto;
    background-image: url(../../../../assets/images/banner-1.jpg),
    linear-gradient(to right, #84816b 0%, #79796a 50%, #7d7f72 75%, #727467 100%);
    height: 15rem;
    max-width: 120rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media ( min-width: v.$tablet ) {
    .dashboard-row {
        height: 25rem;
    }
}