<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">

    <span class="login-title">
        Ingresar
    </span>

    <div class="campo">
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" placeholder="Email">
    </div>

    <div class="campo">
        <label for="password">Contraseña: </label>
        <input id="password" type="password" formControlName="password" placeholder="Ingrese su contraseña">
    </div>

    <button class="btn" type="submit">
        Login
    </button>

    <!-- <div class="login-footer">
        <span>
            ¿No tienes cuenta?
        </span>

        <a class="login-create" routerLink="/auth/register">
            Crear una aquí
        </a>
    </div> -->

</form>