@use 'variables' as v;


// Estilos Globales
/////////////////////

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 2;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 v.$separacion 0;
}

h1 {
  font-size: 4rem;
}

h2 {
font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

@media ( min-width: 768px ) { 
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

p {
  color: v.$negro;
}

a {
  text-decoration: none;
  color: v.$negro;
}

img {
  max-width: 100%;
  display: block;
}


// UTILIDADES
///////////////

.text-center {
  text-align: center;
}

.bg-primario {
  background-color: v.$primario;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: v.$primario;
  color: #FFFFFF;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: #769c02;
  cursor: pointer;
}

.btn-secondary {
  color: v.$negro;
  display: block;
  padding: 1rem 2.5rem;
  text-align: center;
}

.btn-secondary:hover {
  background-color: v.$primario;
  color: v.$blanco;
  cursor: pointer;
}

.btn-secondary-active {
  background-color: v.$primario;
  color: v.$blanco;
  cursor: pointer;
}

.max-w-150 {
  max-width: 150rem;
}

.m-a {
  margin: 0 auto;
}

@media ( min-width: 768px ) {

  .max-width-30 {
    max-width: 30rem;
  }

  .btn {
    width: auto;
  }
}