// Fuentes
////////////
$fuente_principal:  'Raleway', sans-serif;


// Media Queries
//////////////////
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colores
////////////
$primario: #275995;
$secundario: #e8e3d9;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #eceeef;
$hover_link: #2795b6;


// Unidades
/////////////
$separacion: 5rem;